.panda-bg-success {
    background-color: #fceae8;
}

.link-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    color: white;
    border-radius: 8px;
    padding: 8px 25px;
}